<div class="App-title flex items-center gap-2 truncate">
  <a routerLink="/">Koenigs Collection</a>
  @if (spreadsheetFacade.currentSpreadsheet()) {
    <button mat-mini-fab (click)="spreadsheetFacade.currentSpreadsheetRef.reload()"
            [disabled]="spreadsheetFacade.currentSpreadsheetRef.isLoading()">
      <mat-icon class="ease-linear" fontIcon="sync"
                [class.animate-spin]="spreadsheetFacade.currentSpreadsheetRef.isLoading()"/>
    </button>
  }
</div>

<nav class="App-navigation ml-auto hidden tablet:block ">
  <div class="nav-wrapper">
    <ul class="flex items-center">
      <ng-container *ngTemplateOutlet="menuItems"/>
    </ul>
  </div>
</nav>
<button class="tablet:hidden!" type="button" (click)="openMenu()" mat-icon-button>
  <mat-icon fontIcon="menu"/>
</button>

<ng-template #menuTemplate>
  <!-- remove code duplication -->
  <ul id="pop-up-main-menu" (click)="closeMenu()">
    <ng-container *ngTemplateOutlet="menuItems"/>

  </ul>
</ng-template>


<ng-template #menuItems>
  @if (valuablesLink()) {
    <li>
      <a class="p-2" routerLinkActive="selected" (click)="closeMenu()" [routerLink]="valuablesLink()">Valuables</a>
    </li>
  }
</ng-template>
