<div class="App-title">
  <a routerLink="/">Koenigs Collection</a>
  @if (spreadsheetFacade.currentSpreadsheet()) {
    <button mat-mini-fab (click)="spreadsheetFacade.currentSpreadsheetRef.reload()"
            [disabled]="spreadsheetFacade.currentSpreadsheetRef.isLoading()">
      <mat-icon fontIcon="sync" [class.rotate]="spreadsheetFacade.currentSpreadsheetRef.isLoading()"/>
    </button>
  }
</div>

@if (windowSize >= 1200) {
  <nav class="App-navigation">
    <div class="nav-wrapper">
      <ul>
        <ng-container *ngTemplateOutlet="menuItems"/>
      </ul>
    </div>
  </nav>
}
@if (windowSize < 1200) {
  <button type="button" (click)="openMenu()" mat-button>
    <mat-icon fontIcon="menu"/>
  </button>
}

<ng-template #menuTemplate>
  <!-- remove code duplication -->
  <ul id="pop-up-main-menu" (click)="closeMenu()">
    <ng-container *ngTemplateOutlet="menuItems"/>

  </ul>
</ng-template>


<ng-template #menuItems>
  @if (valuablesLink()) {
    <li>
      <a routerLinkActive="selected" (click)="closeMenu()" [routerLink]="valuablesLink()">Valuables</a>
    </li>
  }
</ng-template>
