.app-header {

  .mat-mdc-mini-fab[disabled], .mat-mdc-mini-fab.mat-mdc-button-disabled {
    color: rgba(255, 255, 255, 0.4);
  }

  .mat-mdc-mini-fab.mat-accent {
    --mat-fab-small-container-color: rgb(255 255 255 / 10%);
  }

  .App-navigation ul {

    justify-content: flex-end;

    a {
      color: #c9cacc;
      display: block;
    }
  }


  &:before, &:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    -webkit-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
    z-index: -1;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &:before {
    background-color: #bd2732;
    right: 48%;
    width: 130vw;
    height: 130vw;
  }

  &:after {
    background-color: #dd313d;
    right: 60%;
    width: 100vw;
    height: 100vw;
  }
}

#pop-up-main-menu {
  width: 100%;
  display: block;
  background: rgba(0, 0, 0, .7);
  backdrop-filter: blur(8px);
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);

  a {
    color: rgba(255, 255, 255, .8);
    display: block;
    width: 100%;
    text-decoration: none;
  }
}

@media (prefers-color-scheme: dark) {
  .app-header {
    &:before {
      background-color: #67181e;
    }

    &:after {
      background-color: #821f26;
    }

  }
}
