@if ((this.dataSource.connect() | async)) {

  @switch (appearance()) {
    @case ('minimal') {
      @defer {
        @for (item of dataSource.filteredData; track item) {
          <app-minimal [pokemon]="item.pokemon()"/>
        }
      }
    }
    @case ('normal') {
      @defer {
        @for (item of dataSource.filteredData; track item) {
          <app-normal [pokemon]="item.pokemon()"/>
        }
      }
    }
    @case ('detailed') {
      @defer {
        @for (item of dataSource.filteredData; track item) {
          <app-detailed [pokemon]="item.pokemon()"/>
        }
      }
    }
  }


}
